<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/header.ejs') %>

    <main>
      <h1 class="title">Messages</h1>
      <% if (locals.currentUser) { %>
      <p>Welcome, <strong><%= locals.currentUser.name %></strong>!</p>
      <% } else { %>
      <p>Login to view messages!</p>
      <% } %>
    </main>
  </body>
</html>
