.messages-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  width: 100%;
}

.message-card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  outline: 1px solid #dce6f3;
}

.message-title {
  font-size: 20px;
}

.message-author,
.message-date {
  font-size: 14px;
  color: #64748b;
}

.message-author strong {
  color: black;
}

h3 {
  font-size: 16px;
}
